spring:
  application:
    name: user-management-api
  datasource:
    url: jdbc:h2:mem:fincore_db
    username: sa
    password: 
    driver-class-name: org.h2.Driver
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 900000

security:
  session-timeout: 900
  max-login-attempts: 5
  account-lock-duration: 1800

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

